<select
  aria-invalid="false"
  aria-labelledby="undefined-label"
  class="form-select"
  name="eventlocale"
  role="listbox"
  meta="[object Object]"
>
  <option value="nl_NL" data-spec="select-option">
    Dutch (Netherlands/Belgium)
  </option>
  <option value="en_AU" data-spec="select-option">
    English (Australia/New Zealand)
  </option>
  <option value="en_CA" data-spec="select-option">English (Canada)</option>
  <option value="en_DK" data-spec="select-option">English (Denmark)</option>
  <option value="en_FI" data-spec="select-option">English (Finland)</option>
  <option value="en_GB" data-spec="select-option">English (UK)</option>
  <option value="en_US" data-spec="select-option">English (US)</option>
  <option value="fr_CA" data-spec="select-option">French (Canada)</option>
  <option value="fr_FR" data-spec="select-option">French (France)</option>
  <option value="fr_CH" data-spec="select-option">French (Switzerland)</option>
  <option value="de_DE" data-spec="select-option">German</option>
  <option value="de_CH" data-spec="select-option">German (Switzerland)</option>
  <option value="it_IT" data-spec="select-option">Italian</option>
  <option value="pt_BR" data-spec="select-option">Portuguese (Brazil)</option>
  <option value="pt_PT" data-spec="select-option">Portuguese (Portugal)</option>
  <option value="es_AR" data-spec="select-option">Spanish (Argentina)</option>
  <option value="es_MX" data-spec="select-option">Spanish (Mexico)</option>
  <option value="es_ES" data-spec="select-option">Spanish (Spain)</option>
  <option value="sv" data-spec="select-option">Swedish</option>
</select>
